/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/*
/web/bower/*
/web/bundles/*
/web/images/*
/web/images/pieces/*
!web/images/pieces/.gitkeep
/web/coverage.html/*
/web/css/*
/web/js/*
/.idea/*