html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
label.required:before {
  content: "* ";
}
.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.btn-file i.fa-picture-o {
  margin-right: 20px;
  margin-top: 3px;
  float: left;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-file .text-wrapper {
  float: left;
}
.input-group.file .file-name {
  float: right;
  background-color: #f388ae;
  padding: 0 5px;
  color: #fff;
  max-width: 75%;
  border-radius: 3px;
  overflow: hidden;
}
.input-group.file i.fa-times {
  margin-top: 3px;
  margin-left: 10px;
  float: right;
}
#content {
  width: 100%;
  height: 100%;
  display: table;
}
#content.frontend {
  padding: 20px;
  padding-left: 90px;
  background: url('/bundles/jahllerartlas/images/bg1.png') repeat-x bottom left;
}
#content.frontend .btn-default {
  color: #ed588d;
  background-color: #fee3e9;
  background-image: none;
  border-color: transparent;
  text-shadow: 0 0 0 transparent;
}
#content.frontend .btn-default:hover {
  background-color: #f8ced9;
}
#content #map {
  height: 100%;
  width: 100%;
}
#content #navigation {
  position: absolute;
  z-index: 100;
  width: 115px;
  text-align: left;
}
#content.frontend #navigation {
  width: auto;
  left: 20px;
  top: 20px;
}
#content #navigation .element {
  margin-bottom: 10px;
  width: 24px;
}
#globalMessages {
  position: absolute;
  z-index: 120;
  top: 0;
  right: 0;
  padding: 10px;
  max-width: 50%;
  width: 50%;
}
#globalMessages .alert {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.modal-dialog {
  width: 700px;
}
.modal-body {
  text-align: center;
}
.modal-body .input-group {
  width: 100%;
}
.modal-body .image {
  background-color: #333;
}
.modal-body .image img {
  max-width: 668px;
  max-height: 500px;
}
button,
.badge {
  transition: background-color 200ms linear;
}
.badge-danger {
  background-color: #c12e2a;
}
.badge .fa {
  cursor: pointer;
}
.tag-list {
  padding: 10px 0;
}
.tag-list ul {
  padding: 0;
  margin: 0;
}
.tag-list ul li {
  margin-right: 7px;
}
#pieces {
  display: none;
}
#pieces .piece {
  width: 230px;
  height: 215px;
  float: left;
  margin-right: 15px;
}
#pieces .piece .image {
  width: 165px;
  height: 165px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}
#pieces .piece .image i {
  display: none;
  position: absolute;
  left: 5px;
  top: 5px;
  color: #ed588d;
  background-color: #fee3e9;
  padding: 3px 5px;
  border-radius: 3px;
}
#pieces .piece span.badge {
  margin-right: 5px;
}

